.nav {
  align-self: center;
}

.navLink {
  list-style: none;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  color: white;

  padding: 10px 15px;
  border: solid 1px white;
  border-radius: 18px;

  background-color: #4cae4c;
  margin-right: 10px;
}
