.contactBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactText {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5cb85c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4cae4c;
}
p {
  margin: 3px;
}
