.form {
  width: 330px;
  height: 290px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field {
  box-sizing: border-box;
  margin-left: 12px;
  max-width: 300px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid grey;
  outline: transparent;
  padding-left: 10px;
}

.formName {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formNumber {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
label {
  margin: 12px 12px 0 12px;
  font-size: 18px;
  font-weight: 500;
}

.button {
  width: 150px;
  margin-left: 80px;
  background-color: #3d3d3d2d;
  margin-bottom: 10px;
  border: solid 1px black;
}

span {
  margin-left: 12px;
  color: red;
}
