.contactsList {
  list-style-type: none;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.contactsItem {
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;

  width: 330px;
}

.contactsItem:hover {
  background-color: #e0e0e0;
}
